h1 {
    float: left;
    width: 350px;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: -1px;
    margin-left: 20px;
}

#nba_logo {
    float: left;
    width: 60px;
    height: 133px;
    margin-left: 20px;
}

#page_header {
    width: 100%;
    height: 125px;
    margin-top: 15px;
}

#header_link, #header_link:link, #header_link:visited, #header_link:hover, #header_link:active {
    color: black;
    /* DO SOMETHING DIFFERENT FOR HOVER? LIKE LITTLE MESSAGE THAT SAYS "Home" WHEN HOVERING OVER IT */
}

#page_footer {
    width: 100%;
    height: 125px;
    margin-top: 15px;
    text-align: center;
}

#footer_hr {
    margin-top: 75px;
    /* SHOULD BE ABLE TO SEE FOOTER ON PAGE IF CONTENT IS NOT SCROLLABLE (not more content than the window size) */
}

#footer_heading {
    width: 100%;
    margin-top: -10px;
}

#footer_h_wrapper {
    width: 250px;
    height: 70px;
    margin: 0 auto;
}

#footer_nba_logo {
    float: left;
    width: 30px;
    height: 66px;
    margin-left: 7px;
    /* fixed horizontal spacing. MAKE SURE RESIZES CORRECTLY & MOBILE LOOKS GOOD */
    /* USE PERCENTAGES TO DO THIS!!!!!!!! */
}

#footer_h1 {
    float: left;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: -1px;
    width: initial;
}

#copyright_section {
    height: 75px;
    background-color: lightgrey;
    margin-top: 20px;
    margin-bottom: 25px;
}

#copyright_def {
    padding-top: 25px;
}

#top_anchor {
    padding-bottom: 15px;
}

hr {
    margin-top: 25px;
    margin-bottom: 40px;
}

#search_div_container {
    width: 30%;
    height: 200px;
    margin: 0 auto;
}

#search_div {
    width: 100%;
    height: 200px;
    padding-left: 20%;
    /* FIX HORIZONTAL ALIGNMENT OF STUFF ON HOME PAGE. NO GUESS & CHECK. CALCULATIONS. */
    /* MAKE SURE EVERYTHING STAYS ALIGNED WHILE RESIZING.
       HAVE TO BRUSH UP ON HOW TO DO THIS MORE EFFECTIVELY */
    margin: 0 auto;
    /* perfectly horizontally aligned?? NOT REALLY NEED TO MOVE LEFT A FEW PIXELS. ESPECIALLY FIX
       ALIGNMENT WHILE RESIZING!!!! BC OF PERCENTAGES??? NEED MORE CONSISTENT UNITS!!
    */
}

#player_input {
    font-size: 1.125em;
    padding-left: 3px;
}

#search_button {
    margin-left: 3px;
    font-size: 1.125em;
}

#search_icon {
    width: 14px;
    height: 15px;
    margin-top: 1px;
    margin-bottom: -2px;
}

#loader_wrapper {
    display: inline-block;  /* bc div defaults to block elem & moves to new line */
    padding: 10px;
    position: relative;
    top: 30px;
    left: 20px;
    margin-top: 25px;  /* vertically offset the entire input box button & loader */
}

#circle_loader {
    border: 10px solid #efefef; /* light green circle - make more grey/light like
    the blue/lavender combo of the last spinner. idk i keep trying colors and none of them are perfect */
    border-top: 10px solid limegreen; /* green spinner */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 500ms linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#grid_container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 250px 250px 150px;
    padding: 10px;
    gap: 20px;
}

.grid_item {
    border: 2px solid black;
}

#player_item {
    grid-column-start: span 2;
    background-color: lightgray;
}

#subgrid_container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 300px;
    margin-left: 15%;
    /* align perfectly ^^ */
}

#player_name_item {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 50px 75px;
    justify-items: center;
    align-content: center;
    height: 250px;
    /* fix margin left??? doesnt align with the other items in the grid?? */
}

.player_info {
    font-size: 1.75em;
    font-family: 'Orbitron', monospace;
    /* FIX HORIXONTAL SPACING RELATIVE TO LABELS */
    /* use consistent units throughout this project - max of like 3 maybe?? idk */
    /* MESS WITH SIZING & SPACING OF EVERYTHING!!! MAKE IMAGES & FONTS BIGGER & 
       THINGS SPACED OUT NICELY!
    */
    font-style: italic;
}

#jersey_num_heading {
    font-family: 'Graduate', monospace;
    /* different font??!!??! */
    font-size: 2.5em;
    font-style: initial;
    /* MOVE THIS DOWN A BIT?? TOO CLOSE TO NAME ON PLAYER PAGE */
}

#team_logo {
    width: 250px;
    height: 250px;
}

#player_photo {
    width: 300px;
    height: 218px;
    /* MAKE EVERYTHING BIGGER? INCLUDING FONTS ETC! */
}

#player_info_item {
    text-align: center;
    margin-top: 40px;
    background-color: lightgray;
    /* make this items width exactly half the page so the horizontal grid gap under the player image aligns horizontally */
}

#info_subgrid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 35px 35px 35px;
    row-gap: 15px;
    /* bigger font for items */
}

.player_info_label {
    font-family: Helvetica, sans-serif;
}

.player_info_heading {
    font-family: 'Graduate', monospace;
}

#season_stats {
    grid-row-start: span 2;
    text-align: center;
    margin-top: 40px;
    background-color: lightgray;
    /* make these gray areas have box-shadows?? floating above the page. */
    /* CENTER THIS GRID & CAREER STATS GRID OR (MORE LIKELY) ADD ANOTHER COLUMN TO IMPROVE SPACING & LAYOUT */
}

.season_num_label {
    font-family: initial;
}

.season_stat {
    font-family: 'Orbitron', monospace;
}

#career_stats {
    text-align: center;
    background-color: lightgray;
    margin-top: 20px;
}

#career_accolades {
    text-align: center;
    background-color: lightgray;
}

h2 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.stats_dividers {
    margin-top: 5px;
    margin-bottom: 10px;
}

#accolades_divider {
    margin-bottom: 0px;
}

#subgrid_container2 {
    display: grid;
    grid-template-columns: 90px 75px 75px 75px 75px 75px 75px;
    grid-template-rows: 35px;
    /* however many seasons player played determines # of rows - min 2 */
    margin-top: 0px;
}

.subgrid2_item {
    border: 1px solid black;
}

h3 {
    margin-top: 6px;
    /* STILL HAVE TO CLEAN UP CENTERING & SPACING & SIZING & FONTS/AESTHETICS ETC */
}

.career_stat {
    font-family: 'Orbitron', monospace;
}

#mvp_awards {
    margin-top: 5px;
}

#subgrid3 {
    display: grid;
    grid-template-columns: 90px 75px 75px 75px 75px 75px 75px;
    grid-template-rows: 35px 35px;
}

.subgrid3_item {
    border: 1px solid black;
}

#cs1 {
    float: none;
    font-family: 'Teko', cursive;
    font-size: 4em;
    margin-left: 37%;
    display: block;
    margin-bottom: 15px;
}

#cs2 {
    float: none;
    display: block;
    margin-left: 40%;
}

#cs3 {
    float: none;
    display: block;
    margin-left: 33%;
}

#construction_tape_img1 {
    width: 100%;
    margin-bottom: 10px;
}

#construction_tape_img2 {
    width: 100%;
    margin-top: 50px;
    margin-bottom: -25px;
}