h1 {
    float: left;
    width: 350px;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: -1px;
    margin-left: 20px;
}

#nba_logo {
    float: left;
    width: 60px;
    height: 133px;
    margin-left: 20px;
}

#page_header {
    width: 100%;
    height: 125px;
    margin-top: 15px;
}

hr {
    margin-top: 25px;
    margin-bottom: 40px;
}

#player_label {
    font-family: 'PT Serif Caption', serif;
    margin-left: 10px;
}

#player_input {
    margin-left: 10px;
}

#search_button {
    margin-left: 3px;
    /* MAKE THIS AN ICON BUTTON WITH MAGNIFYING GLASS LOGO */
}

#grid_container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 250px 150px 150px;
    padding: 10px;
    gap: 20px;
}

.grid_item {
    border: 2px solid black;
}

#player_item {
    grid-column-start: span 2;
}

#subgrid_container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 300px;
    margin-left: 15%;
    /* align perfectly ^^ */
}

#player_info_item {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(3,50px);
    justify-content: center;
    align-content: center;
    height: 250px;
    /* fix margin left??? doesnt align with the other items in the grid?? */
}

.player_info {
    font-size: 1.75em;
    /* use consistent units throughout this project - max of like 3 maybe?? idk */
    /* MESS WITH SIZING & SPACING OF EVERYTHING!!! MAKE IMAGES & FONTS BIGGER & 
       THINGS SPACED OUT NICELY!
    */
}

#team_logo {
    width: 250px;
    height: 250px;
}

#player_photo {
    width: 300px;
    height: 218px;
    /* MAKE EVERYTHING BIGGER? INCLUDING FONTS ETC! */
}

#season_stats {
    grid-row-start: span 2;
    text-align: center;
    margin-top: 40px;
}

#career_stats {
    text-align: center;
    margin-top: 40px;
}

#career_accolades {
    text-align: center;
}

h2 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.stats_dividers {
    margin-top: 5px;
    margin-bottom: 10px;
}

#accolades_divider {
    margin-bottom: 0px;
}

#subgrid_container2 {
    display: grid;
    grid-template-columns: 90px 75px 75px 75px 75px 75px 75px;
    grid-template-rows: 35px 35px 35px 35px 35px 35px 35px;
    /* however many seasons player played determines # of rows - min 2 */
    margin-top: 0px;
}

.subgrid2_item {
    border: 1px solid black;
}

h3 {
    margin-top: 6px;
    /* STILL HAVE TO CLEAN UP CENTERING & SPACING & SIZING & FONTS/AESTHETICS ETC */
}

#mvp_awards {
    margin-top: 5px;
}

#subgrid3 {
    display: grid;
    grid-template-columns: 90px 75px 75px 75px 75px 75px 75px;
    grid-template-rows: 35px 35px;
}

.subgrid3_item {
    border: 1px solid black;
}
