h1 {
    float: left;
    width: 350px;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: -1px;
    margin-left: 20px;
}

#nba_logo {
    float: left;
    width: 60px;
    height: 133px;
    margin-left: 20px;
}

#page_header {
    width: 100%;
    height: 125px;
    margin-top: 15px;
}

hr {
    margin-top: 25px;
    margin-bottom: 40px;
}

#player_label {
    font-family: 'PT Serif Caption', serif;
    margin-left: 10px;
}

#player_input {
    margin-left: 10px;
}

#search_button {
    margin-left: 3px;
    /* MAKE THIS AN ICON BUTTON WITH MAGNIFYING GLASS LOGO */
}

#grid_container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 250px 150px 150px;
    padding: 10px;
    gap: 20px;
}

.grid_item {
    border: 2px solid black;
}

#player_item {
    grid-column-start: span 2;
}

#player_photo {
    display: block;
    width: 300px;
    height: 218px;
    /* MAKE EVERYTHING BIGGER? INCLUDING FONTS ETC! */
    margin: auto;
}

#season_stats {
    grid-row-start: span 2;
    text-align: center;
}

#career_stats {
    text-align: center;
}

#career_accolades {
    text-align: center;
}

h2 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.stats_dividers {
    margin-top: 5px;
}

#subgrid_container {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 45px 45px 45px 45px 45px 45px 45px;
    /* however many seasons player played determines # of rows - min 2 */
}

.subgrid_item {
    border: 1px solid black;
}
